.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 148, 245);
    margin-right: 155px;
    margin-left: 155px;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 82px;
    margin-left: 85px;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: rgb(212, 241, 248);
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(123, 202, 255);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .foto{
    background-color: rgba(25, 40, 248, 0.205);
    margin-right: 155px;
    margin-left: 155px;
     
    
  }
  .borda{
    border: 2px solid rgba(0, 89, 255, 0.226);
    border-radius: 5px;
    margin: 130px;
  }
  .body{
    background-color:rgb(132, 153, 248);
  }
  .listavivos{
    display: inline-block; 
    width:50%;
    float:left;
  }
  .listamortos{
    display: inline-block;
    width:50%;
    float:right;
  }
  .listamortostxt{
    text-align:rigth;
  }
  .listavivostxt{
    text-align:left;
  }
  .textoprincipal{
    text-align:justify;
    margin-right: 155px;
    margin-left: 155px;
  }
  .sobremim{
    color:white; text-align:center
  }

